.data-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: end;
  gap: 1px;
  text-align: center;
  background: white;
  position: sticky;
  top: 0;
  padding: 10px 0;
}

.data-header-types {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 1px;
  font-size: 9px;
}

.data-header-type {
  width: var(--support-item-width);
}
