.engine-filter {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 0.3em 0;
}

.engine-filter-row {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: center;

  label {
    padding: 0.3em 1em 0.3em 0.4em;
    border-radius: 500px;
    white-space: nowrap;

    &:has(input:checked) {
      background: #e6e6e6;
    }
  }
}

.engine-filter-name {
  margin-right: 1em;
}
